// Prefix kng-color to be added for above
// ------------------------------------
// Kingswell Named Colors
// ------------------------------------
$kng-color-white:            #ffffff;
$kng-color-light-blue:       #ebf6fc;
$kng-color-primary-blue:     #41a7e1;
$kng-color-medium-blue:      #1483bd;
$kng-color-active-dark-blue: #253b56;
$kng-color-inactive-grey:    #a1afc0;
$kng-color-messaging-grey:   #8294aa;
$kng-color-active-grey:      #65778a;
$kng-color-workspace-grey:   #f2f2f2;
$kng-color-medium-grey:      #d9d9d9;

$kng-color-light-yellow:     #fcf8e3;
$kng-color-dark-yellow:      #c09853;
$kng-color-green:            #6fa623;
$kng-color-alert-orange:     #ff6633;

$kng-color-magic-kingdom:    #1994d7;
$kng-color-water-parks:      #009eb2;
$kng-color-animal-kingdom:   #628d25;
$kng-color-epcot:            #d0662c;
$kng-color-hollywood-studios:#6f46ad;
$kng-color-other-property:   #6f46ad;
$kng-color-black:            #000000;

$kng-color-other-properties-dark-blue: #0a4999;
$kng-color-overlay-background: rgba(0, 0, 0, .6);

// Custom color for DVC SI
$kng-color-primary-workspace-disabled: #bcbcbc;
$kng-color-primary-hover: #8dc74c;
$kng-color-primary-pressed: #5a8822;
$kng-color-secondary-pressed-gray: #f9f9f9;

$vp-color-medium-blue: #114D97;
$vp-color-green: #00993E;
