@font-face {
  font-family: 'kingswell';
  src:  url('/assets/fonts/kingswell.eot?18obis');
  src:  url('/assets/fonts/kingswell.eot?18obis#iefix') format('embedded-opentype'),
    url('/assets/fonts/kingswell.ttf?18obis') format('truetype'),
    url('/assets/fonts/kingswell.woff?18obis') format('woff'),
    url('/assets/fonts/kingswell.svg?18obis#kingswell') format('svg');
  font-weight: normal;
  font-style: normal;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'kingswell' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.kng-ic-add-xs:before {
  content: "\e900";
  font-size: 18px;
}
.kng-ic-add-sm:before {
  content: "\e900";
  font-size: 28px;
}
.kng-ic-add-md:before {
  content: "\e900";
  font-size: 44px;
}
.kng-ic-add-lg:before {
  content: "\e900";
  font-size: 54px;
}

.kng-ic-alert-xs:before {
  content: "\e901";
  font-size: 18px;
}
.kng-ic-alert-sm:before {
  content: "\e901";
  font-size: 28px;
}
.kng-ic-alert-md:before {
  content: "\e901";
  font-size: 44px;
}
.kng-ic-alert-lg:before {
  content: "\e901";
  font-size: 54px;
}

.kng-ic-arrow-closed-xs:before {
  content: "\e902";
  font-size: 18px;
}
.kng-ic-arrow-closed-sm:before {
  content: "\e902";
  font-size: 28px;
}
.kng-ic-arrow-closed-md:before {
  content: "\e902";
  font-size: 44px;
}
.kng-ic-arrow-closed-lg:before {
  content: "\e902";
  font-size: 54px;
}

.kng-ic-arrow-opened-xs:before {
  content: "\e903";
  font-size: 18px;
}
.kng-ic-arrow-opened-sm:before {
  content: "\e903";
  font-size: 28px;
}
.kng-ic-arrow-opened-md:before {
  content: "\e903";
  font-size: 44px;
}
.kng-ic-arrow-opened-lg:before {
  content: "\e903";
  font-size: 54px;
}

.kng-radio-off-xs:before {
  content: "\e904";
  font-size: 18px;
}
.kng-radio-off-sm:before {
  content: "\e904";
  font-size: 28px;
}
.kng-radio-off-md:before {
  content: "\e904";
  font-size: 44px;
}
.kng-radio-off-lg:before {
  content: "\e904";
  font-size: 54px;
}

.kng-radio-on-xs:before {
  content: "\e905";
  font-size: 18px;
}
.kng-radio-on-sm:before {
  content: "\e905";
   font-size: 28px;
}
.kng-radio-on-md:before {
  content: "\e905";
  font-size: 44px;
}
.kng-radio-on-lg:before {
  content: "\e905";
  font-size: 54px
}

.kng-check-off-xs:before {
  content: "\e906";
  font-size: 18px;
}
.kng-check-off-sm:before {
  content: "\e906";
  font-size: 28px;
}
.kng-check-off-md:before {
  content: "\e906";
  font-size: 44px;
}
.kng-check-off-lg:before {
  content: "\e906";
  font-size: 54px;
}

.kng-check-on-xs:before {
  content: "\e907";
   font-size: 18px;
}
.kng-check-on-sm:before {
  content: "\e907";
  font-size: 28px;
}
.kng-check-on-md::before {
  content: "\e907";
  font-size: 44px;
}
.kng-check-on-lg:before {
  content: "\e907";
  font-size: 54px;
}

.kng-ic-calendar-month-xs:before {
  content: "\e908";
  font-size: 18px;
}
.kng-ic-calendar-month-sm:before {
  content: "\e908";
  font-size: 28px;
}
.kng-ic-calendar-month-md:before {
  content: "\e908";
  font-size: 44px;
}
.kng-ic-calendar-month-lg:before {
  content: "\e908";
  font-size: 54px;
}

.kng-ic-checkmark-xs:before {
  content: "\e909";
  font-size: 18px;
}
.kng-ic-checkmark-sm:before {
  content: "\e909";
  font-size: 28px;
}
.kng-ic-checkmark-md:before {
  content: "\e909";
  font-size: 44px;
}
.kng-ic-checkmark-lg:before {
  content: "\e909";
  font-size: 54px;
}

.kng-ic-close-xs:before {
  content: "\e90a";
  font-size: 18px;
}
.kng-ic-close-sm:before {
  content: "\e90a";
  font-size: 28px;
}
.kng-ic-close-md:before {
  content: "\e90a";
  font-size: 44px;
}
.kng-ic-close-lg:before {
  content: "\e90a";
  font-size: 54px;
}

.kng-ic-edit-xs:before {
  content: "\e90b";
  font-size: 18px;
}
.kng-ic-edit-sm:before {
  content: "\e90b";
  font-size: 28px;
}
.kng-ic-edit-md:before {
  content: "\e90b";
  font-size: 44px;
}
.kng-ic-edit-lg:before {
  content: "\e90b";
  font-size: 54px;
}

.kng-ic-filter-xs:before {
  content: "\e90c";
  font-size: 18px;
}
.kng-ic-filter-sm:before {
  content: "\e90c";
  font-size: 28px;
}
.kng-ic-filter-md:before {
  content: "\e90c";
  font-size: 44px;
}
.kng-ic-filter-lg:before {
  content: "\e90c";
   font-size: 54px;
}

.kng-ic-hd-global-info-icon-xs:before {
  content: "\e90d";
  font-size: 18px;
}
.kng-ic-hd-global-info-icon-sm:before {
  content: "\e90d";
  font-size: 28px;
}
.kng-ic-hd-global-info-icon-md:before {
  content: "\e90d";
   font-size: 44px;
}
.kng-ic-hd-global-info-icon-lg:before {
  content: "\e90d";
  font-size: 54px;
}

.kng-ic-hd-home-xs:before {
  content: "\e90e";
  font-size: 18px;
}
.kng-ic-hd-home-sm:before {
  content: "\e90e";
  font-size: 28px;
}
.kng-ic-hd-home-md:before {
  content: "\e90e";
  font-size: 44px;
}
.kng-ic-hd-home-lg:before {
  content: "\e90e";
  font-size: 54px;
}

.kng-ic-hd-menu-global-nav-xs:before {
  content: "\e90f";
  font-size: 18px;
}
.kng-ic-hd-menu-global-nav-sm:before {
  content: "\e90f";
  font-size: 28px;
}
.kng-ic-hd-menu-global-nav-md:before {
  content: "\e90f";
  font-size: 44px;
}
.kng-ic-hd-menu-global-nav-lg:before {
  content: "\e90f";
  font-size: 54px;
}

.kng-ic-hd-refresh-xs:before {
  content: "\e910";
  font-size: 18px;
}
.kng-ic-hd-refresh-sm:before {
  content: "\e910";
  font-size: 28px;
}
.kng-ic-hd-refresh-md:before {
  content: "\e910";
  font-size: 44px;
}
.kng-ic-hd-refresh-lg:before {
  content: "\e910";
  font-size: 54px;
}

.kng-ic-info-xs:before {
  content: "\e911";
  font-size: 18px;
}
.kng-ic-info-sm:before {
  content: "\e911";
  font-size: 28px;
}
.kng-ic-info-md:before {
  content: "\e911";
  font-size: 44px;
}
.kng-ic-info-lg:before {
  content: "\e911";
  font-size: 54px;
}

.kng-ic-minus-xs:before {
  content: "\e912";
  font-size: 18px;
}
.kng-ic-minus-sm:before {
  content: "\e912";
  font-size: 28px;
}
.kng-ic-minus-md:before {
  content: "\e912";
  font-size: 44px;
}
.kng-ic-minus-lg:before {
  content: "\e912";
  font-size: 54px;
}

.kng-ic-next3-xs:before {
  content: "\e913";
  font-size: 18px;
}
.kng-ic-next3-sm:before {
  content: "\e913";
  font-size: 28px;
}
.kng-ic-next3-md:before {
  content: "\e913";
  font-size: 44px;
}
.kng-ic-next3-lg:before {
  content: "\e913";
  font-size: 54px;
}

.kng-ic-search-xs:before {
  content: "\e914";
  font-size: 18px;
}
.kng-ic-search-sm:before {
  content: "\e914";
  font-size: 28px;
}
.kng-ic-search-md:before {
  content: "\e914";
  font-size: 44px;
}
.kng-ic-search-lg:before {
  content: "\e914";
  font-size: 54px;
}

.kng-ic-time-xs:before {
  content: "\e915";
  font-size: 18px;
}
.kng-ic-time-sm:before {
  content: "\e915";
  font-size: 28px;
}
.kng-ic-time-md:before {
  content: "\e915";
  font-size: 44px;
}
.kng-ic-time-lg:before {
  content: "\e915";
  font-size: 54px;
}

.kng-icon-go-back-to-xs:before {
  content: "\e916";
  font-size: 18px;
}
.kng-icon-go-back-to-sm:before {
  content: "\e916";
  font-size: 28px;
}
.kng-icon-go-back-to-md:before {
  content: "\e916";
  font-size: 44px;
}
.kng-icon-go-back-to-lg:before {
  content: "\e916";
  font-size: 54px;
}

.kng-icon-add-xs:before {
  content: "\e917";
  font-size: 18px;
}
.kng-icon-add-sm:before {
  content: "\e917";
  font-size: 28px;
}
.kng-icon-add-md:before {
  content: "\e917";
  font-size: 44px;
}
.kng-icon-add-lg:before {
  content: "\e917";
  font-size: 54px;
}

.kng-icon-close-circle-xs:before {
  content: "\e919";
  font-size: 18px;
}
.kng-icon-close-circle-sm:before {
  content: "\e919";
  font-size: 28px;
}
.kng-icon-close-circle-md:before {
  content: "\e919";
  font-size: 44px;
}
.kng-icon-close-circle-lg:before {
  content: "\e919";
  font-size: 54px;
}

.kng-ic-previous2-xs:before {
  content: "\e918";
  font-size: 18px;
}
.kng-ic-previous2-sm:before {
  content: "\e918";
  font-size: 28px;
}
.kng-ic-previous2-md:before {
  content: "\e918";
  font-size: 44px;
}
.kng-ic-previous2-lg:before {
  content: "\e918";
  font-size: 54px;
}

.kng-ic-next2-xs:before {
  content: "\e91a";
  font-size: 18px;
}
.kng-ic-next2-sm:before {
  content: "\e91a";
  font-size: 28px;
}
.kng-ic-next2-md:before {
  content: "\e91a";
  font-size: 44px;
}
.kng-ic-next2-lg:before {
  content: "\e91a";
  font-size: 54px;
}

.kng-ic-previous-xs:before {
  content: "\e91b";
  font-size: 18px;
}
.kng-ic-previous-sm:before {
  content: "\e91b";
  font-size: 28px;
}
.kng-ic-previous-md:before {
  content: "\e91b";
  font-size: 44px;
}
.kng-ic-previous-lg:before {
  content: "\e91b";
  font-size: 54px;
}

.sort {
  background: url('/assets/fonts/ic_sort.svg');
  background-repeat: no-repeat;
  display: block;
  width: 30px;
  height: 30px;
  margin-top: -10px;
  float: right;
}

.sort_down {
  background: url('/assets/fonts/ic_sort_down.svg');
  background-repeat: no-repeat;
  display: block;
  width: 28px;
  height: 20px;
  margin-left: -10px;
  float: right;
  background-size: contain;
}

.sort_up {
  background: url('/assets/fonts/ic_sort_up.svg');
  background-repeat: no-repeat;
  display: block;
  width: 28px;
  height: 20px;
  margin-left: -10px;
  float: right;
  background-size: contain;
}

.ic-newresort {
  background-image: url('/assets/images/ic_newresort.svg');
  background-repeat: no-repeat;
  background-size: 44px;
}
/*icon styles */
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ic_add:before {
  content: "\e900";
  color: #263b56;
}
.icon-ic_alert:before {
  content: "\e901";
  color: #263b56;
}
.icon-ic_arrow_closed:before {
  content: "\e902";
  color: #263b56;
}
.icon-ic_arrow_opened:before {
  content: "\e903";
  color: #263b56;
}
.icon-ic_calendar_month:before {
  content: "\e904";
  color: #263b56;
}
.icon-ic_check_off_disabled:before {
  content: "\e905";
  color: #f2f2f2;
}
.icon-ic_check_off:before {
  content: "\e906";
  color: #fff;
}
.icon-ic_check_on_disabled .path1:before {
  content: "\e907";
  color: rgb(242, 242, 242);
}
.icon-ic_check_on_disabled .path2:before {
  content: "\e908";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-ic_check_on .path1:before {
  content: "\e909";
  color: rgb(123, 177, 66);
}
.icon-ic_check_on .path2:before {
  content: "\e90a";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-ic_checkmark:before {
  content: "\e90b";
  color: #263b56;
}
.icon-ic_close:before {
  content: "\e90c";
  color: #253b56;
}
.icon-ic_content:before {
  content: "\e90d";
  color: #253b56;
}
.icon-ic_edit:before {
  content: "\e90e";
  color: #263b56;
}
.icon-ic_filter:before {
  content: "\e90f";
  color: #263b56;
}
.icon-ic_hd_global_info_icon:before {
  content: "\e910";
  color: #253b56;
}
.icon-ic_hd_home:before {
  content: "\e911";
  color: #263b56;
}
.icon-ic_hd_menu_global_nav:before {
  content: "\e912";
  color: #263b56;
}
.icon-ic_hd_refresh:before {
  content: "\e913";
  color: #263b56;
}
.icon-ic_info:before {
  content: "\e914";
  color: #263b56;
}
.icon-ic_minus:before {
  content: "\e915";
  color: #263b56;
}
.icon-ic_next:before {
  content: "\e916";
  color: #263b56;
}
.icon-ic_next2:before {
  content: "\e917";
  color: #153c57;
}
.icon-ic_previous:before {
  content: "\e918";
  color: #263b56;
}
.icon-ic_previous2:before {
  content: "\e919";
  color: #153c57;
}
.icon-ic_radio_off_disabled:before {
  content: "\e91a";
  color: #f2f2f2;
}
.icon-ic_radio_off:before {
  content: "\e91b";
  color: #fff;
}
.icon-ic_radio_on_disbaled .path1:before {
  content: "\e91c";
  color: rgb(242, 242, 242);
}
.icon-ic_radio_on_disbaled .path2:before {
  content: "\e91d";
  margin-left: -1em;
  color: rgb(161, 175, 192);
}
.icon-ic_radio_on .path1:before {
  content: "\e91e";
  color: rgb(255, 255, 255);
}
.icon-ic_radio_on .path2:before {
  content: "\e91f";
  margin-left: -1em;
  color: rgb(123, 177, 66);
}
.icon-ic_schedulers:before {
  content: "\e920";
  color: #233b56;
}
.icon-ic_search:before {
  content: "\e921";
  color: #263b56;
}
.icon-ic_sort_ascending .path1:before {
  content: "\e922";
  color: rgb(35, 59, 86);
}
.icon-ic_sort_ascending .path2:before {
  content: "\e923";
  margin-left: -1em;
  color: rgb(213, 213, 224);
}
.icon-ic_sort_default:before {
  content: "\e924";
  color: #233b56;
}
.icon-ic_sort_descending .path1:before {
  content: "\e925";
  color: rgb(213, 213, 224);
}
.icon-ic_sort_descending .path2:before {
  content: "\e926";
  margin-left: -1em;
  color: rgb(35, 59, 86);
}
.icon-ic_templates .path1:before {
  content: "\e927";
  color: rgb(35, 59, 86);
}
.icon-ic_templates .path2:before {
  content: "\e928";
  margin-left: -1em;
  color: rgb(35, 59, 86);
}
.icon-ic_templates .path3:before {
  content: "\e929";
  margin-left: -1em;
  color: rgb(35, 59, 86);
}
.icon-ic_templates .path4:before {
  content: "\e92a";
  margin-left: -1em;
  color: rgb(37, 59, 86);
}
.icon-ic_templates .path5:before {
  content: "\e92b";
  margin-left: -1em;
  color: rgb(37, 59, 86);
}
.icon-ic_time:before {
  content: "\e92c";
  color: #263b56;
}
.icon-ic_weather:before {
  content: "\e92d";
  color: #233b56;
}