@import '~assets/style/mixins';
@import '~assets/style/fonts';
@import '~assets/style/colors';
.kng-icon-button-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    color: $kng-color-primary-blue;
    @extend .b2;
    cursor: pointer;
    outline: none;
    i.kng-icon {
        display: inline-block;
        font-size: 20px;
        text-align: left;
        padding-right: 10px;
    }
    label {
        display: inline-block;
        font-size: 14px;
        padding: 0;
        margin: 0;
        font-weight: normal;
        cursor: pointer;
    }
    &:hover {
        color: $kng-color-medium-blue;
        label {
            text-decoration: underline;
        }
    }
    &:focus,
    &:active {
        color: $kng-color-active-dark-blue;
    }
    &.disabled {
        color: $kng-color-inactive-grey;
    }
}