@import '~assets/style/colors';
@import '~assets/style/fonts';
input[type='text'] {
    height: 35px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 4px;
    box-sizing: border-box;
    border: 1px solid #CCCCCC;
    color: $kng-color-active-dark-blue;
    @extend .b2;
    &:focus,
    &:active {
        outline: 0;
        border: 1px solid $kng-color-primary-blue;
        /*box-shadow: inset 0 1px 1px  rgba(0, 0, 0, 0.075),
                                  0 0 8px  rgba(102, 175, 233, 0.6);*/
    }
}

.form-group {
    margin-top: 20px;
    &>label {
        margin-bottom: 5px;
        display: block;
    }
    &.error {
        color: $kng-color-alert-orange;
        input {
            border: 1px solid $kng-color-alert-orange;
        }
        .error-msg {
            margin-top: 5px;
        }
    }
}

.form-check {
    margin-top: 15px;
}

.section-content {
    .section-title {
        margin-top: 20px;
    }
    .section-column {
        margin-left: 30px;
    }
}

.form-check-label {
    position: relative;
}

.form-check-input {
    opacity: 0;
    position: absolute;
    height: 20px;
}

.form-check-label,
.form-check-input {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}

.form-check-input+.form-check-label:before {
    background: url('/assets/fonts/checkbox/ic_check_off.svg');
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 20px;
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    text-align: center;
    content: "";
}

.form-check-input:checked+.form-check-label:before {
    background: url('/assets/fonts/checkbox/ic_check_on.svg');
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 20px;
    width: 20px;
    height: 20px;
}

.form-radio {
    margin-top: 15px;
}
.form-radio-label {
    position: relative;
}

.form-radio-input {
    opacity: 0;
    position: absolute;
    height: 20px;
    z-index: 1200;
}

.form-radio-label,
.form-radio-input {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}

.form-radio-input+.form-radio-label:before {
    background: url('/assets/fonts/radioButton/ic_radio_off.svg');
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 20px;
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    text-align: center;
    content: "";
}

.form-radio-input:checked+.form-radio-label:before {
    background: url('/assets/fonts/radioButton/ic_radio_on.svg');
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 20px;
    width: 20px;
    height: 20px;
}
