$container-width: 1200px;
$container-height: 768px;
$container-horizontal-padding: 20px;
$sidebar-width: 280px;
$sidebar-horizontal-padding: 20px;
$navbar-height: 52px;
$navbar-margin-bottom: 30px;
$container-margin-bottom: 20px;
$modal-border-radius: 6px;
