<div class="box">
	<a class="button" href="#popup1">Let me Pop up</a>
</div>

<div id="popup1" class="overlay">
	<div class="popup">
    <svg></svg>
		<h3> You have to unsaved changes?</h3>
			<p>Navigating away discard any changes <br/> Do you want to go back and continue editing?</p>
      <div class="footer">
        <a id ="Go-Back" class="close" href="#">Yes, Go Back</a>
        <a id="Discard" class="close" href="#">No, Discard</a>

        <!-- <a  class="close" href="#">No, Discard </a></div> -->
        <!-- <button class="close" href="#">Yes, Discard</button> -->
        <!-- <button class="btn">Yes, Go Back</button> -->
	</div>
</div>
